<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campusmap">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.IntroActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TestActivity"
            android:label="@string/title_activity_building"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BuildingActivity"
            android:label="@string/title_activity_campusmap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ParallaxActiviry"
            android:label="@string/title_activity_parallax_activiry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DrawerTestActivity"
            android:label="@string/title_activity_drawer_test"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.InfoUpdaterActivity"
            android:label="@string/title_activity_info_updater"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NMTestActivity"
            android:label="@string/title_activity_info_updater"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d49e3a0cd5cad7b6c7eada6a1f35a85907f1cbca" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

    </application>

</manifest>