<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.campusmap">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.IntroActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar" />
        <activity
            android:name=".activity.TestActivity"
            android:label="@string/title_activity_building"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.SearchResultActivity"
            android:label="@string/title_activity_search_result"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.BuildingActivity"
            android:label="@string/title_activity_campusmap"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ParallaxActiviry"
            android:label="@string/title_activity_parallax_activiry"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.DrawerTestActivity"
            android:label="@string/title_activity_drawer_test"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>